<html>

	<head>
		<title>{{title}}</title>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../js/jquery-1.11.0.js"></script>
		<link href="../css/bootstrap.css" rel="stylesheet">
		<script src="../js/bootstrap.min.js"></script>
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../css/storyshareformat.css" rel="stylesheet"> 
		<link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	</head>

	<body>


		  {{> banner}}

		  <br>

		<div class="container" id="storyContainer">

			<div id="{{id}}" class = "story">	
			

			
				<img class="thumb" src= "../images/{{sentences}}-10.png">
			
				<span>
					<div class="storypagetitle"><p><b>{{title}}</b></p></div>
				</span>

			</div>

			<br>

			
			<div>
				<p id ="text">{{text}}</p>
			</div>


			<div>
				{{#if finished}}
					<div class="text-center">
					<a href= "/archive"><button id = "backBtn" class="btn start-button" style = "margin-top: 10px"><h3>Back to Stories</h3></button></a>
				</div>
				{{/if}}
				{{#if not-finished}}
					<br>
					<div class="text-center">
					<button id="addBtn" class="btn start-button"><h3>Add to Story<h3></button>
					</div>

					<!--<a href= "/main"><button id = "backBtn" class="btn btn pull-right btn-primary btn-lg" style = "margin-top: 10px">Go Back</button></a>-->

				{{/if}}
			</div>
		</div>
		<script src="../js/jquery.charactercounter.js"></script>
		<script src="../js/storypage.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/bootstrap.js"></script>

	</body>
</html>
